html {font-size: 62.5%!important; /* 10÷16=62.5% */}  
@media only screen and (min-width: 481px){  
    html {  
        font-size: 94%!important; /* 15.04÷16=94% */  
    }  
}  
@media only screen and (min-width: 561px){  
    html {  
        font-size: 109%!important; /* 17.44÷16=109% */  
    }  
}  
@media only screen and (min-width: 641px){  
    html {  
        font-size: 125%!important; /* 20÷16=125% */  
    }  
}  
body {
	background: #68cdd5;
}
img {
	max-width: 100%;
}
.main {
	color:#fff;
	font-family: 'Microsoft Yahei';
	width: auto;
	margin:0 auto;
}
.goback {
	text-align: left;
	padding-top: 20px;
	padding-left: 36px;
}
.info h1 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 100px;
}
.info .introduction {
	font-size: 1.5rem;
	line-height: 2.7rem;
	padding:0 14%;
}
.info .contact {
	margin:0;
	padding: 0;
	overflow: auto;
}
.info .contact li {
	width: 50%;
	display: inline-block;
	text-align: center;
	float: left;
}
.info .contact li p {
	font-size: 1.2rem;
	margin:10px 0;
}
