
/*main*/

.prompt .play {
    height: .41rem;
    background: #b9e9f5;
}

.prompt .play span {
    padding-left: .24rem;
    font-size: .13rem;
    color: #464646;
    line-height: .41rem;
}

.btn-audio {
    float: right;
    margin: .075rem .085rem;
    width: .26rem;
    height: .26rem;
    background: url(images/voice_stop.png) no-repeat center bottom;
    background-size: cover;
    cursor: pointer;
}

.prompt p:before {
    content: '';
    position: absolute;
    width: 0;
    border-width: .07rem .035rem 0 .035rem;
    border-color: #b9e9f5 transparent;
    border-style: solid;
}

.prompt p {
    padding-left: .35rem;
    margin-bottom: 0;
    font-size: .12rem;
    color: #fff;
    line-height: .4rem;
}


/**/
.list li:hover, .list li:focus {

}
