//color
$white: #fff;
$green: #29b078;
$green-100: lighten($green, 20%);
$green-900: darken($green, 40%);
$red: #f01400;
$orange: #ff650e;
$gray: #fafafa;
$gray-100: #eeeded;
$gray-200: #edf1f2;
$gray-800: #d0d6d9;
$gray-900: #999;
$black: #333;
