.img{background:url(../images/img.png)  no-repeat;}
.pull{height:8px;width:13px;background-position:-191px 0;}
.info{height:33px;width:19px;background-position:-153px 0;}
.position{height:23px;width:19px;background-position:-112px 0;}
.date{height:24px;width:24px;background-position:-64px 0;}
.write{height:40px;width:40px;background-position:-63px -64px;}
.site{height:44px;width:42px;background-position:0 0;}
.people{height:41px;width:42px;background-position:-120px -63px;}
.home{height:40px;width:46px;background-position:0 -64px;}
