/*header*/

header h2 {
    margin: 0;
    font-size: .17rem;
    color: #fff;
    text-align: center;
    line-height: .4rem;
}

header .menu {
    width: .2rem;
    height: .2rem;
    background-position: -1.23rem 0;
}

header .closeit {
    right: .11rem;
    width: .18rem;
    height: .18rem;
    background-position: -1.61rem 0;
}


/*main*/

main {
    bottom: .95rem;
    padding: 0;
    background: #29bde0;
}

.prompt .play {
    height: .41rem;
    background: #b9e9f5;
}

.prompt .play span {
    padding-left: .24rem;
    font-size: .13rem;
    color: #464646;
    line-height: .41rem;
}

.btn-audio {
    float: right;
    margin: .075rem .085rem;
    width: .26rem;
    height: .26rem;
    background: url(images/voice_stop.png) no-repeat center bottom;
    background-size: cover;
    cursor: pointer;
}

.prompt p:before {
    content: '';
    position: absolute;
    width: 0;
    border-width: .07rem .035rem 0 .035rem;
    border-color: #b9e9f5 transparent;
    border-style: solid;
}

.prompt p {
    padding-left: .35rem;
    margin-bottom: 0;
    font-size: .12rem;
    color: #fff;
    line-height: .4rem;
}


/**/

.player {
    width: 100%;
    padding: 0 .02rem;
    text-align: center;
}

.player li {
    display: inline-block;
    width: .7rem;
    margin-left: .17rem;
    margin-right: .17rem;
    text-align: center;
}

.player p {
    margin: 0;
}

.player .info {
    border: .03rem solid #fff;
    cursor: pointer;
}

.player .role {
    font-size: .15rem;
    line-height: .5rem;
    color: #565656;
    background: #f5c97b;
}

.player .code {
    font-size: .12rem;
    line-height: .14rem;
    background: #83b09a;
}

.player .action {
    display: block;
    height: .15rem;
    margin-top: .12rem;
    margin-bottom: .12rem;
}

.player .action a {
    display: none;
    float: left;
    margin-left: .02rem;
    width: .15rem;
    height: .15rem;
}

.player .action1 {
    background-position: 0 -.4rem;
}

.player .action2 {
    background-position: -.32rem -.4rem;
}

.player .action3 {
    background-position: -.63rem -.4rem;
}

.player .action4 {
    background-position: -.96rem -.4rem;
}

.player li:hover .action a {
    display: block;
}


/**footer*/

footer {
    bottom: 0;
    height: .95rem;
    background: #29bde0;
}

footer .vote {
    margin: 0 .2rem;
    border-top: 1px solid #fff;
    text-align: center;
}

footer .btn {
    width: 2.45rem;
    margin-top: .21rem;
    border: none;
    border-radius: 0;
    font-size: .2rem;
    line-height: .43rem;
    color: #fff;
    background: #fbb435;
}

footer .btn:hover {
    color: #fff;
    background: #f5c97b;
}
