//color
$white: #fff;
$blue: #29bde0;
$blue100: #b9e9f5;
$orange: #fbb435;
$orange100: #f5c97b;
$orange200: #fbb435;
$orange300: #f67e7e;
$green: #83b09a;
$red: #f66f6f;
$red100: #f5c97b;
$gray: #f0f0f0; //homepage bg
$gray100: #ddd; //border of last page
$gray200: #c9c9c9; //border of homepage
$gray300: #9a9a9a; //font of page 1
$gray400: #787878; //font of page 1 12
$gray500: #565656; //font of page 2
$gray600: #464646; //font of page 2
$gray700: #a6a6a6; //font of page 3

