/*通用*/
* {
	margin: 0; 
	padding: 0;
	border: none;
}
html {
	font-size: 62.5%; /*1rem=10px*/
}
body {
	background: #fff;
	color:#333;
	font-family: 'Microsoft Yahei';
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
/*header*/
header {
	background: #5fc0cd;	
	position: fixed;
	width: 100%;
	height: 4rem;
	z-index: 3;
}
header h1 {
	color: #fff;
	font-size: 1.8rem;
	line-height: 4rem;
	font-weight: normal;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}
header .goback a{
	color: #fff;
	font-size: 1.8rem;
	line-height: 4rem;
	display: block;
	position: absolute;
	left: 1.5rem;
}
/*main-user*/
main {
	position: relative;
	top: 4rem;
	left: 0;
	right: 0;
	bottom: 5.9rem;
	z-index: 1;
}
.user {
	height: 16.3rem;
	background: url(images/bg.jpg) no-repeat center;
	background-size: 100%; 
	position: relative;
}
.user dd {
	position: absolute;
	left: 1.5rem;
	width: 8.5rem;
	height: 8.5rem;
}
.user dd img {
	border-radius: 50%;
	height: 100%;
}
/*main-info*/

/*footer*/
footer {
	background: #fff;
	position: fixed;
	bottom: 0;
	height: 5.9rem;
	width: 100%;
	padding:0 1.5rem;
	z-index: 2;
}
footer button {
	margin:0.7rem;
}