/*通用*/
* {
	margin: 0; 
	padding: 0;
	border: none;
}
html,
body {
	height: 100%;
	font-size: 62.5%; /*1rem=10px*/
	color: #333;
	font-family: "Microsoft Yahei", "STHeiti", "Hiragino Sans GB", "WenQuanYi Zen Hei", sans-serif;
	background: #fff;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
header, 
main, 
footer {
    position: absolute;
    left: 0;
    right: 0;
}
@font-face {
  font-family: 'iconfont';  /* project id 457105 */
  src: url('https://at.alicdn.com/t/font_457105_iiblt5v9q0p8ehfr.eot');
  src: url('https://at.alicdn.com/t/font_457105_iiblt5v9q0p8ehfr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_457105_iiblt5v9q0p8ehfr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_457105_iiblt5v9q0p8ehfr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_457105_iiblt5v9q0p8ehfr.svg#iconfont') format('svg');
}
.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
/*header*/
header {
	top: 0;
	z-index: 1;	
	height: 4rem;
	background: #5fc0cd;
}
header h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.8rem;
	line-height: 4rem;
	font-weight: 600;
	text-align: center;
	color: #fff;
}
header .goback a{
	display: block;
	position: absolute;
	left: 1.5rem;
	font-size: 1.8rem;
	line-height: 4rem;
	color: #fff;
}
/*main-user*/
main {
	top: 4rem;
	bottom: 5.9rem;
	overflow: auto;
}
.user {
	position: relative;
	padding: 3.7rem 0;
	height: 8.5rem;
	background: url(images/bg.jpg) no-repeat center;
	background-size: cover; 
}
.user dd {
	padding-left: 1.5rem;
	width: 8.5rem;
	height: 8.5rem;
}
.user dd img {
	height: 100%;
	border-radius: 50%;
}
.user dt {
	position: absolute;
	top: 50%;
    left: 11.8rem;
    transform: translateY(-50%);
	color: #fff;
}
.user dt h2 {
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.8;
}
.user h2 span {
	padding-left: 1.6rem;
	font-size: 1.4rem;
}
.user dt p {
	font-size: 1.2rem;
} 
.user .iconfont {
	padding-right: .5rem;
	font-size: 1.4rem;
	color: #5fc0cd;
}
/*main-info*/
.info {	
	font-size: 1.6rem;
	color: #333;
}
.info .skill {
	padding-top: 1.7rem;
	padding-bottom: 1.7rem;
	border-bottom: 1px solid #e1e5e7;
}
.info h3 {
	margin-left: 1.5rem;
	padding-left: 1.2rem;
	border-left: 2px solid #5fc0cd;
	line-height: 1;
}
.info .feature {
	padding-top: 1.7rem;
	padding-bottom: 1.7rem;
	margin-left: 1.5rem;
	border-bottom: 1px solid #e1e5e7;
}
.info .feature span {
	padding-left: 1rem;
	margin-left: 1rem;
	border-left: 1px solid #e1e5e7;
}
.info .feature span:first-child {
	padding-left: 0;
	margin-left: 0;
	border-left: none;
}
.info .iconfont {
	padding-right: .4rem;
	font-size: 1.4rem;
	color: #e26163;
}
.info dl {
	position: relative;
	overflow: hidden;
	padding-top: 1.7rem;
	padding-bottom: 1.7rem;
	margin-left: 1.5rem;
	border-bottom: 1px solid #e1e5e7;
	line-height: 1.1;
}
.info dt {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-right: 1rem;
	margin-right: 1rem;
	border-right: 1px solid #e1e5e7;
	font-weight: 600;
	color: #999;
}
.info dd {
	float: left;
	margin-left: 7.5rem;
}
.info em {
	font-style: normal;
	font-weight: 700;
	color: #e26163;
}
.info .introduction {
	display: inline;
	font-size: 1.4rem;
	line-height: 1.1;
}
/*footer*/
footer {
	position: absolute;
	bottom: 0;
	z-index: 1;
	height: 5.9rem;
	padding:0 1.5rem;
	background: #fff;
}
footer button {
	display: block;
	float: left;
	width: 50%;
	background: none;
}
footer button a{
	display: block;
	margin: .7rem;
	border: 1px solid #5fc0cd;
	border-radius: 5px;
	font-size: 1.7rem;
	line-height: 4.4rem;
	text-align: center;
}
.message a{
	background: #fff;
	color: #5fc0cd;
}
.tel a{
	background: #5fc0cd;
	color: #fff;
}