

/**/

.choices {
    padding: .2rem 0;
    border-top: 1px solid #d0d6d9;
    border-bottom: 1px solid #edf1f2;
}

.choices span {
    display: inline-block;
    color: #999;
    margin-right: .24rem;
}

.choices ul {
    display: inline;
}

.choices li {
    display: inline-block;
    padding: 1px 3px;
    margin-right: .36rem;
    color: #333;
}

.choices .cur,
.choices li:hover,
.choices li:focus {
    color: #fff;
    background: #29b078;
}


/**/

.main {
    padding-bottom: .4rem;
}

.main h3 {
    margin-top: 0;
    border-bottom: 1px solid #d0d6d9;
    font-size: .16rem;
    text-align: left;
    line-height: .8rem;
}


/**/

.choice .position {
    box-shadow: 0 0 3px #eeeded;
    background: #fff;
    position: relative;
    border-radius: 3px;
    margin-top: .4rem;
}

.position dl {
    overflow: hidden;
    padding: .2rem .1rem;
    margin-bottom: 0;
}

.position dl dd {
    float: left;
    width: 1.39rem;
}

.position dl dd img {
    max-width: 100%;
}

.position dl dt {
    float: right;
    width: calc(100% - 1.39rem);
    padding-left: .1rem;
    font-weight: 400;
}

.position h4 {
    font-size: .16rem;
    font-weight: 700;
}

.position ul li {
    width: 50%;
    float: left;
    border-top: 1px solid #edf1f2;
    line-height: .4rem;
    padding-left: .1rem;
    list-style: none;
}

.position li:nth-child(2n) {
    border-left: 1px solid #edf1f2;
}

.position li span {
    font-size: .12rem;
    color: #999;
    padding-right: .14rem;
}

.position li img {
    display: inline-block;
}

.position table {
    width: 100%;
    border-collapse: collapse;
}

.position table td {
    border-top: 1px solid #edf1f2;
    border-bottom: 1px solid #edf1f2;
    font-size: .12rem;
    line-height: .36rem;
    text-align: right;
    padding-right: .1rem;
}

.position table tr:first-child td {
    width: 42%;
    text-align: center;
    color: #999;
    border-right: 1px solid #edf1f2;
    padding-right: 0;
}

.position h5 {
    font-weight: 700;
    line-height: .4rem;
    border-bottom: 1px solid #edf1f2;
    margin: 0;
    padding-left: .1rem;
}

.position h5 span {
    color: #f01400;
}

.position .hint {
    padding-left: .1rem;
    color: #999;
    font-size: .12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: .4rem;
}

.position .more {
    display: none;
}

.position:hover .more {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .76);
    border-radius: 3px;
    padding: .4rem;
    color: #fff;
}

.position:hover .more h4 {
    text-align: center;
    padding: .2rem;
}
