body {
	background: url(https://d3cbihxaqsuq0s.cloudfront.net/images/17925982_xl.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	font-family: 'Microsoft Yahei';
	color: #282828;
	text-align: center;
}
h2 {
	font-size: 4rem;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 0px 2px #1b5f99;
}
ul {
	margin:0;
	padding:0;
}
ul li {
	display: inline-block;
    font-size: 14px;
    padding: 6px 16px;
    background: #0882c3;
    text-align: center;
    filter: Alpha(opacity=50);
    background: rgba(14, 87, 146, 0.7);
    margin:5px;
}
ul li a {
	color: #fff; 
	text-decoration: none;
}
ul li:hover {
	background: rgba(14, 87, 146, 0.8);
}